@font-face {
    font-family: lequire;
    src: url('./fonts/Lequire.otf') format("opentype");
}
body {
    background-color: #394032;
    width: auto;
    height: max-height;
    display: flex;
    justify-content: center;
}

#loginSegment {
    background: #8DAB7F;
    height:20%;
    
   
}

#loginForm {
    height: auto;
    display: flex;
    flex-direction: column;
    

}

#loginForm > button {

}

div.search > div > input {
    position: relative;
    top: 5rem;
    left:35%;
    transform: translateX(-50%);
    width: auto;
    max-width: 400px;
    z-index:10;
}


#loginIcon {
    color: #FFFFFA;
}

#loginHeader{
  
    color: #FFFFFA;
    font-family: lequire;
}

#loginSubHeader {

    color: #050505;
}
#loginForm .formText label {
    color: #9FDAE5;
}
#termsCheckBox label {
    color: #BECEDB;
}

.formbtn {
    
    background-color: #BECEDB;
}

#registerBtn {
    width: 100%;
}

#previewContainer {
    position: relative;
    display: flex;
    justify-content: center;
}

.locate {
    height: 30px;
    width: 30px;
    position: relative;
    top: 3.5rem;
    left:93%;
    transform: translateX(-50%);
    z-index:10;
}
